{"swagger":"2.0","info":{"description":"API de acesso aos recursos do QuarkClinic. Todas as requisições deverão ser acompanhadas do Request Header Auth-Token com o token de acesso do cliente. ","version":"QuarkClinic Extrator","title":"Quarklinic API","contact":{"name":"Contato","url":"www.quarkclinic.com.br","email":"quarkclinic@quark.tec.br"},"license":{"name":"License of API","url":"API license URL"}},"host":"api.quark.tec.br","basePath":"/clinic/ext/","tags":[{"name":"agenda","description":"Agenda Rest Controller"},{"name":"agendamento","description":"Agendamento Rest Controller"},{"name":"conta-pagar","description":"Conta Pagar Rest Controller"},{"name":"conta-receber","description":"Venda Rest Controller"},{"name":"financeiro","description":"Financeiro Rest Controller"},{"name":"lancamento","description":"Lancamento Rest Controller"},{"name":"negociacao","description":"Negociacao Rest Convenio Controller"},{"name":"orcamento","description":"Orcamento Rest Controller"},{"name":"organizacao","description":"Organizacao Rest Controller"},{"name":"paciente","description":"Paciente Rest Controller"},{"name":"partner","description":"Partner Rest Controller"},{"name":"procedimento","description":"Procedimento Rest Controller"},{"name":"produto","description":"Produto Rest Controller"},{"name":"profissional","description":"Convenio Rest Controller"},{"name":"usuario","description":"Usuario Rest Controller"}],"schemes":["http","https"],"paths":{"/v1/agendamentos":{"get":{"tags":["agendamento"],"summary":"Retorna todos os agendamentos de uma organização - O limite da data de agendamento é de 30 dias","operationId":"agendamentosUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"data_agendamento_fim","in":"query","description":"(formato = dd-MM-yyyy)","required":true,"type":"string","allowEmptyValue":false},{"name":"data_agendamento_inicio","in":"query","description":"(formato = dd-MM-yyyy)","required":true,"type":"string","allowEmptyValue":false},{"name":"data_criacao","in":"query","description":"(formato = dd-MM-yyyy)","required":false,"type":"string","allowEmptyValue":false},{"name":"id_profissional","in":"query","description":"id_profissional","required":false,"type":"integer","format":"int64"},{"name":"paciente_id","in":"query","description":"paciente_id","required":false,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"},{"name":"status","in":"query","description":"status","required":false,"type":"array","items":{"type":"string","enum":["LIVRE","AVALIACAO","HORARIO_BLOQUEADO","AGENDADO","CANCELADO","CANCELADO_VIA_SMS","CONFIRMADO","FALTOU","AGUARDANDO_RECEPCAO","RECEPCAO","AGUARDANDO_PRE_CONSULTA","PRE_CONSULTA","AGUARDANDO_ATENDIMENTO","EM_ATENDIMENTO","AGUARDANDO_POS_CONSULTA","POS_CONSULTA","ATENDIMENTO_COMPLETO","PRE_AGENDAMENTO","AUSENTE_POS_CONSULTA","EXCLUIDO","TRANSFERIDO","REAGENDADO","PAGAMENTO_AGUARDANDO","PAGAMENTO_INFORMADO"]},"collectionFormat":"multi","enum":["LIVRE","AVALIACAO","HORARIO_BLOQUEADO","AGENDADO","CANCELADO","CANCELADO_VIA_SMS","CONFIRMADO","FALTOU","AGUARDANDO_RECEPCAO","RECEPCAO","AGUARDANDO_PRE_CONSULTA","PRE_CONSULTA","AGUARDANDO_ATENDIMENTO","EM_ATENDIMENTO","AGUARDANDO_POS_CONSULTA","POS_CONSULTA","ATENDIMENTO_COMPLETO","PRE_AGENDAMENTO","AUSENTE_POS_CONSULTA","EXCLUIDO","TRANSFERIDO","REAGENDADO","PAGAMENTO_AGUARDANDO","PAGAMENTO_INFORMADO"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«Marcacao»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false},"post":{"tags":["agendamento"],"summary":"Realiza um agendamento","operationId":"agendarUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Auth-token","required":true,"type":"string"},{"name":"X-Chave-Key","in":"header","description":"X-Chave-Key","required":true,"type":"string"},{"name":"X-Secret-Key","in":"header","description":"X-Secret-Key","required":true,"type":"string"},{"in":"body","name":"agendamentoRequest","description":"Dados do Agendamento","required":true,"schema":{"$ref":"#/definitions/AgendamentoRequest"}},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int64"}}},"deprecated":false}},"/v1/agendamentos/{id}":{"get":{"tags":["agendamento"],"summary":"Retorna um determinado agendamento","operationId":"agendamentoByIdUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"id","in":"path","description":"ID do agendamento","required":true,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«Marcacao»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/agendamentos/{id}/cancelar":{"patch":{"tags":["agendamento"],"summary":"Cancela um agendamento que esteja com status: Agendado","operationId":"cancelarAgendamentoUsingPATCH","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"X-Chave-Key","in":"header","description":"X-Chave-Key","required":true,"type":"string"},{"name":"X-Secret-Key","in":"header","description":"X-Secret-Key","required":true,"type":"string"},{"name":"id","in":"path","description":"ID do agendamento","required":true,"type":"integer","format":"int64"},{"name":"motivo","in":"query","description":"Motivo do cancelamento do agendamento","required":true,"type":"string","allowEmptyValue":false},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«Void»"}}},"deprecated":false}},"/v1/agendamentos/{id}/confirmar":{"patch":{"tags":["agendamento"],"summary":"Confirma um agendamento que esteja com status: Agendado","operationId":"confirmarAgendamentoUsingPATCH","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"X-Chave-Key","in":"header","description":"X-Chave-Key","required":true,"type":"string"},{"name":"X-Secret-Key","in":"header","description":"X-Secret-Key","required":true,"type":"string"},{"name":"id","in":"path","description":"ID do agendamento","required":true,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«Void»"}}},"deprecated":false}},"/v1/agendamentos/{id}/mudar-status":{"post":{"tags":["agendamento"],"summary":"Mudar o status de uma marcação","operationId":"mudarStatusUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Auth-token","required":true,"type":"string"},{"name":"X-Chave-Key","in":"header","description":"X-Chave-Key","required":true,"type":"string"},{"name":"X-Secret-Key","in":"header","description":"X-Secret-Key","required":true,"type":"string"},{"name":"id","in":"path","description":"ID do agendamento","required":true,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"},{"in":"body","name":"request","description":"Dados da mudança de status","required":true,"schema":{"$ref":"#/definitions/MudarStatusMarcacaoRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«Void»"}}},"deprecated":false}},"/v1/agendamentos/{id}/status":{"get":{"tags":["agendamento"],"summary":"Retorna todos os status de alterações de um determinado agendamento","operationId":"agendamentoStatusByIdUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"id","in":"path","description":"ID do agendamento","required":true,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«MarcacaoStatus»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/agendas":{"get":{"tags":["agenda"],"summary":"Retorna todas as agendas cadastradas da organização","operationId":"agendasUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«AgendaDTO»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/agendas/{id}":{"get":{"tags":["agenda"],"summary":"Retorna uma determinada agenda","operationId":"agendaByIdUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"id","in":"path","description":"ID da agenda","required":true,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«AgendaDTO»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/agendas/{id}/horarios-livres":{"get":{"tags":["agenda"],"summary":"Retorna os horários livres de uma agenda para data","operationId":"horariosLivresUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"data","in":"query","description":"(formato = dd-MM-yyyy)","required":true,"type":"string","format":"date-time","allowEmptyValue":false},{"name":"id","in":"path","description":"ID da agenda","required":true,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AgendaDataHorarioDTO"}}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/agendas/{id}/horariosBloqueados":{"get":{"tags":["agenda"],"summary":"Retorna os horários bloqueados da agenda","operationId":"horariosBloqueadosUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"id","in":"path","description":"ID da agenda que será consultada.","required":true,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«AgendaHorariosBloqueados»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/agendas/{id}/horariosPermitidos":{"get":{"tags":["agenda"],"summary":"Retorna os horarios permitidos da agenda","operationId":"horariosPermitidosUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"id","in":"path","description":"ID da agenda que será consultada.","required":true,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«AgendaHorariosEspecificos»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/bomedico/agendar":{"get":{"tags":["paciente"],"summary":"Retorna todos os pacientes de uma organização","operationId":"agendarUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«Marcacao»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/clinicas":{"get":{"tags":["organizacao"],"summary":"Retorna todas as clínicas de uma organização","operationId":"clinicasUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«Clinica»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/clinicas/{id}":{"get":{"tags":["organizacao"],"summary":"Retorna uma determinada agenda","operationId":"agendaByIdUsingGET_1","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"id","in":"path","description":"ID da clinica","required":true,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«Clinica»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/contas/pagar":{"get":{"tags":["conta-pagar"],"summary":"Retorna toda as contas a pagar de uma organização na data informada || OBS: Somente é possível escolher um tipo de filtro: dataInicial, dataVencimento ou dataBaixa","operationId":"contasUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"clinica_id","in":"query","description":"clinica_id","required":false,"type":"integer","format":"int64"},{"name":"dataBaixaFim","in":"query","description":"(formato = dd-MM-yyyy)","required":false,"type":"string","format":"date-time","allowEmptyValue":false},{"name":"dataBaixaInicio","in":"query","description":"(formato = dd-MM-yyyy)","required":false,"type":"string","format":"date-time","allowEmptyValue":false},{"name":"dataFim","in":"query","description":"(formato = dd-MM-yyyy)","required":false,"type":"string","format":"date-time","allowEmptyValue":false},{"name":"dataInicio","in":"query","description":"(formato = dd-MM-yyyy)","required":false,"type":"string","format":"date-time","allowEmptyValue":false},{"name":"dataVencimentoFim","in":"query","description":"(formato = dd-MM-yyyy)","required":false,"type":"string","format":"date-time","allowEmptyValue":false},{"name":"dataVencimentoInicio","in":"query","description":"(formato = dd-MM-yyyy)","required":false,"type":"string","format":"date-time","allowEmptyValue":false},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«ContaPagarDTO»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/contas/receber":{"get":{"tags":["conta-receber"],"summary":"Retorna toda as contas a receber de uma organização na data informada","operationId":"contasUsingGET_1","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"data","in":"query","description":"(formato = dd-MM-yyyy)","required":true,"type":"string","format":"date-time","allowEmptyValue":false},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«ContaReceber»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/convenio/{id}":{"get":{"tags":["profissional"],"summary":"Retorna um determinado convênio","operationId":"convenioByIdUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"id","in":"path","description":"ID do Convênio","required":true,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«Convenio»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/convenios":{"get":{"tags":["profissional"],"summary":"Retorna todos os convênios de uma organização","operationId":"conveniosUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«Convenio»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/financeiro/formas-pagamento":{"get":{"tags":["financeiro"],"summary":"Retorna todas as formas de pagamento do sistema","operationId":"formasPagamentoUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«FormaPagamentoDTO»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/financeiro/formas-recebimento":{"get":{"tags":["financeiro"],"summary":"Retorna todas as formas de recebimento cadastradas da clínica","operationId":"agendasUsingGET_1","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"clinica_id","in":"query","description":"clinica_id","required":true,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«FormaRecebimentoDTO»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/lancamento/avulso":{"post":{"tags":["lancamento"],"summary":"Cadastrar lançameento avulso","operationId":"lancamentoAvulsoUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"X-Chave-Key","in":"header","description":"X-Chave-Key","required":true,"type":"string"},{"name":"X-Secret-Key","in":"header","description":"X-Secret-Key","required":true,"type":"string"},{"in":"body","name":"lancamentoAvulsoDTO","description":"lancamentoAvulsoDTO","required":true,"schema":{"$ref":"#/definitions/LancamentoAvulsoDTO"}},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int64"}}},"deprecated":false}},"/v1/negociacoes":{"get":{"tags":["negociacao"],"summary":"Retorna todos os agendamentos de uma organização","operationId":"negociacoesUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«NegociacaoConvenio»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/negociacoes/{id}":{"get":{"tags":["negociacao"],"summary":"Retorna uma determinada negociação","operationId":"negociacaoByIdUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"id","in":"path","description":"ID da negociação","required":true,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«NegociacaoConvenio»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/orcamentos":{"get":{"tags":["orcamento"],"summary":"Retorna todos os orçamentos de uma organização","operationId":"orcamentosUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"data_fim","in":"query","description":"(formato = dd-MM-yyyy)","required":true,"type":"string","allowEmptyValue":false},{"name":"data_inicio","in":"query","description":"(formato = dd-MM-yyyy)","required":true,"type":"string","allowEmptyValue":false},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«Orcamento»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/orcamentos/{id}":{"get":{"tags":["orcamento"],"summary":"Retorna um determinado orçamento","operationId":"orcamentoByIdUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"id","in":"path","description":"ID da negociação","required":true,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«Orcamento»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/pacientes":{"get":{"tags":["paciente"],"summary":"Retorna todos os pacientes de uma organização","operationId":"pacientesUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«Paciente»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false},"post":{"tags":["paciente"],"summary":"Cadastrar um paciente","operationId":"cadastrarUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Auth-token","required":true,"type":"string"},{"name":"X-Chave-Key","in":"header","description":"X-Chave-Key","required":true,"type":"string"},{"name":"X-Secret-Key","in":"header","description":"X-Secret-Key","required":true,"type":"string"},{"in":"body","name":"pacienteRequest","description":"Dados do paciente","required":true,"schema":{"$ref":"#/definitions/PacienteRequest"}},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int64"}}},"deprecated":false}},"/v1/pacientes/existe":{"get":{"tags":["paciente"],"summary":"Retorna se existe paciente com CPF ou E-mail","operationId":"existsUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"cpf","in":"query","description":"CPF do paciente","required":false,"type":"string"},{"name":"dataNascimento","in":"query","description":"Data de nascimento do paciente","required":false,"type":"string","x-example":"01/01/2010"},{"name":"email","in":"query","description":"E-mail do paciente","required":false,"type":"string"},{"name":"nome","in":"query","description":"Nome do paciente","required":false,"type":"string"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"},{"name":"sexo","in":"query","description":"Sexo do paciente: MASCULINO, FEMININO ou INDEFINIDO.","required":false,"type":"string"},{"name":"telefone","in":"query","required":false,"type":"string","x-example":"(99) 99999-9999"},{"name":"unidadeId","in":"query","description":"Unidade do paciente","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/pacientes/{id}":{"get":{"tags":["paciente"],"summary":"Retorna um determinado paciente","operationId":"pacienteByIdUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"id","in":"path","description":"ID do paciente","required":true,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«Paciente»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/pacientes/{id}/telefones":{"get":{"tags":["paciente"],"summary":"Retorna os telefones do paciente","operationId":"pacienteByTelefonesIdUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"id","in":"path","description":"ID do paciente","required":true,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«string»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/partner/agendar":{"post":{"tags":["partner"],"summary":"Cria um agendamento no ewclinic","operationId":"agendarUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"in":"body","name":"agendamentoPartnerDto","description":"agendamentoPartnerDto","required":true,"schema":{"$ref":"#/definitions/AgendamentoPartnerDTO"}},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Json"}}},"deprecated":false}},"/v1/partner/alterar":{"post":{"tags":["partner"],"summary":"Edita um agendamento no ewclinic","operationId":"alterarUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"in":"body","name":"agendamentoPartnerDto","description":"agendamentoPartnerDto","required":true,"schema":{"$ref":"#/definitions/AgendamentoPartnerDTO"}},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Json"}}},"deprecated":false}},"/v1/partner/cancelar":{"post":{"tags":["partner"],"summary":"Cancela um agendamento no ewclinic","operationId":"cancelarUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"in":"body","name":"agendamentoPartnerDto","description":"agendamentoPartnerDto","required":true,"schema":{"$ref":"#/definitions/AgendamentoPartnerDTO"}},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Json"}}},"deprecated":false}},"/v1/procedimentos":{"get":{"tags":["procedimento"],"summary":"Retorna todos os procedimentos de uma organização","operationId":"procedimentosUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"},{"name":"somenteAtivo","in":"query","description":"somenteAtivo","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«Procedimento»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/procedimentos/{id}":{"get":{"tags":["procedimento"],"summary":"Retorna um determinado procedimento","operationId":"pacienteByIdUsingGET_1","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"id","in":"path","description":"ID do procedimento","required":true,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«Procedimento»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/produtos/{id}":{"get":{"tags":["produto"],"summary":"Retorna um determinado produto","operationId":"findProdutoUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"id","in":"path","description":"ID do produto","required":true,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«ProdutoDTO»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/profissionais":{"get":{"tags":["profissional"],"summary":"Retorna todos os profissionais de uma organização","operationId":"profissionaisUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«ProfissionalDTO»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/profissionais/{id}":{"get":{"tags":["profissional"],"summary":"Retorna um determinado profisional","operationId":"profissionalByIdUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"id","in":"path","description":"ID do profissional","required":true,"type":"integer","format":"int64","x-example":1},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«ProfissionalDTO»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/profissionais/{id}/convenios":{"get":{"tags":["profissional"],"summary":"Retorna os convênios associados a um profissional específico","operationId":"conveniosByProfissionalUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"id","in":"path","description":"ID do profissional","required":true,"type":"integer","format":"int64","x-example":1},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«ProfissionalConveniosDTO»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/saldo":{"post":{"tags":["paciente"],"summary":"Retorna o saldo das contas da organização","operationId":"saldosUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"in":"body","name":"body","description":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«SaldoDTO»"}}},"deprecated":false}},"/v1/usuarios":{"get":{"tags":["usuario"],"summary":"Retorna todos os usuários de uma organização","operationId":"usuariosUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«Usuario»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/usuarios/{id}":{"get":{"tags":["usuario"],"summary":"Retorna um determinado usuário","operationId":"usuarioByIdUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"id","in":"path","description":"ID do usuário","required":true,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«Usuario»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/vendas":{"get":{"tags":["conta-receber"],"summary":"Retorna toda vendas realizadas de uma organização em um intervalo de data informado","operationId":"vendasUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"dataFim","in":"query","description":"(formato = dd-MM-yyyy)","required":true,"type":"string","allowEmptyValue":false},{"name":"dataInicio","in":"query","description":"(formato = dd-MM-yyyy)","required":true,"type":"string","allowEmptyValue":false},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«Venda»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/vendas/{id}":{"get":{"tags":["conta-receber"],"summary":"Retorna uma venda através do id","operationId":"vendaUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«Venda»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/vendas/{id}/formasPgto":{"get":{"tags":["conta-receber"],"summary":"Retorna todas as formas de pagamento da venda","operationId":"formasPgto2UsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«ContaReceberFormaPagamentoDTO»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v1/vendas/{id}/itens":{"get":{"tags":["conta-receber"],"summary":"Retorna todos os itens de uma determinada venda","operationId":"vendaItensUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«VendaProcedimento»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v2/contas/receber":{"get":{"tags":["conta-receber"],"summary":"Retorna todas as contas a receber de uma organização em um intervalo de data informado","operationId":"contasUsingGET_2","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"apenasAtivos","in":"query","description":"apenasAtivos","required":false,"type":"boolean","default":true},{"name":"dataFim","in":"query","description":"(formato = dd-MM-yyyy)","required":true,"type":"string","format":"date-time","allowEmptyValue":false},{"name":"dataInicio","in":"query","description":"(formato = dd-MM-yyyy)","required":true,"type":"string","format":"date-time","allowEmptyValue":false},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«ContaReceberDTO»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v2/contas/receber/inativas":{"get":{"tags":["conta-receber"],"summary":"Retorna todas as contas a receber de uma organização inativadas em um intervalo de data informado ordenadas pela data de competência","operationId":"contasInativadasUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"dataFimRemocao","in":"query","description":"(formato = dd-MM-yyyy)","required":true,"type":"string","format":"date-time","allowEmptyValue":false},{"name":"dataInicioRemocao","in":"query","description":"(formato = dd-MM-yyyy)","required":true,"type":"string","format":"date-time","allowEmptyValue":false},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«ContaReceberDTO»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v2/pacientes":{"get":{"tags":["paciente"],"summary":"Retorna todos os pacientes de uma organização, com seus respectivos telefones (array) e datas formatadas","operationId":"v2pacientesUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"data-fim","in":"query","description":"(formato = dd-MM-yyyy)","required":true,"type":"string","format":"date-time","allowEmptyValue":false},{"name":"data-inicio","in":"query","description":"(formato = dd-MM-yyyy)","required":true,"type":"string","format":"date-time","allowEmptyValue":false},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«PacienteDTO»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v2/pacientes/{id}":{"get":{"tags":["paciente"],"summary":"Retorna um determinado paciente, com seus respectivos telefones (array) e datas formatadas","operationId":"v2pacienteByIdUsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"id","in":"path","description":"ID do paciente","required":true,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«PacienteDTO»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v2/vendas":{"get":{"tags":["conta-receber"],"summary":"Retorna toda vendas realizadas de uma organização em um intervalo de data informado","operationId":"vendas2UsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"dataFim","in":"query","description":"(formato = dd-MM-yyyy)","required":true,"type":"string","format":"date-time","allowEmptyValue":false},{"name":"dataInicio","in":"query","description":"(formato = dd-MM-yyyy)","required":true,"type":"string","format":"date-time","allowEmptyValue":false},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«VendaDTO»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}},"/v2/vendas/{id}/itens":{"get":{"tags":["conta-receber"],"summary":"Retorna todos os itens de uma determinada venda incluindo procedimentos, receitas e produtos","operationId":"vendaItens2UsingGET","produces":["*/*"],"parameters":[{"name":"Auth-token","in":"header","description":"Token de autorização gerado para cada organização","required":true,"type":"string"},{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Por padrão os endpoints são paginados, retornando a 1ª página com no máximo 100 registros. Use esse parâmetro para navegar entre as páginas (será necessário realizar múltiplas requisições)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RespostaApi«ItemContaDTO»"}},"401":{"description":"Acesso negado! Verificar se o TOKEN de acesso é válido."},"500":{"description":"Erro Interno da API"}},"deprecated":false}}},"definitions":{"AgendaDTO":{"type":"object","properties":{"agendamentoMultiplo":{"type":"boolean","description":"Indica se é permitido agendamento múltiplo. Ou seja, se é permitido vários agendamentos em um mesmo horário."},"ativo":{"type":"boolean","description":"Indica se a agenda foi removida."},"clinicaId":{"type":"integer","format":"int64","description":"Clinica no qual a agenda está disponível."},"dataInicio":{"type":"string","description":"Data de abertura da agenda."},"dataValidade":{"type":"string","description":"Até quando a agenda estará disponí­vel."},"dateCreated":{"type":"string","description":"Data de criação da agenda"},"diasSemana":{"type":"array","items":{"type":"string"}},"horaAbertura":{"type":"string"},"horaFechamento":{"type":"string"},"horariosBloqueados":{"type":"string"},"horariosPermitidos":{"type":"string"},"id":{"type":"integer","format":"int64"},"lastUpdated":{"type":"string","description":"Data de alteração da agenda"},"maximoEncaixe":{"type":"integer","format":"int32"},"maximoPorDia":{"type":"integer","format":"int32","description":"Máximo de horários de agendamento por dia."},"maximoRetorno":{"type":"integer","format":"int32"},"maximoSecao":{"type":"integer","format":"int32","description":"Máximo de agendamentos em uma sessão."},"nome":{"type":"string"},"profissionalId":{"type":"integer","format":"int64","description":"Profissional da agenda."},"telemedicina":{"type":"boolean"},"tipoAgendamentoMultiplo":{"type":"string","description":"Indica se agenda permite agendamentos múltiplos ou não."},"tipoHorario":{"type":"string","example":"GERAL, DIAS_SEMANA, DATAS_ESPECIFICAS","description":"Se a agenda será geral, por dias de semana ou datas especí­ficas"}},"title":"AgendaDTO"},"AgendaDataHorarioDTO":{"type":"object","properties":{"data":{"type":"string"},"horarios":{"type":"array","items":{"$ref":"#/definitions/IntervaloDTO"}}},"title":"AgendaDataHorarioDTO"},"AgendaHorariosBloqueados":{"type":"object","properties":{"dataFim":{"type":"string","example":"dd-MM-yyyy"},"dataInicio":{"type":"string","example":"dd-MM-yyyy"},"horaFim":{"type":"string"},"horaInicio":{"type":"string"},"id":{"type":"integer","format":"int32"},"observacao":{"type":"string"}},"title":"AgendaHorariosBloqueados"},"AgendaHorariosEspecificos":{"type":"object","properties":{"dataEspecifica":{"type":"string","example":"dd-MM-yyyy"},"diaSemana":{"type":"integer","format":"int32"},"horaAbertura":{"type":"string"},"horaFechamento":{"type":"string"},"id":{"type":"integer","format":"int32"},"maximoEncaixe":{"type":"integer","format":"int32"},"maximoPorDia":{"type":"integer","format":"int32"},"maximoRetorno":{"type":"integer","format":"int32"},"maximoSecao":{"type":"integer","format":"int32"}},"title":"AgendaHorariosEspecificos"},"AgendamentoPartnerDTO":{"type":"object","properties":{"dataAgendamento":{"type":"string"},"dataNascimento":{"type":"string"},"dependente":{"type":"boolean"},"email":{"type":"string"},"horaAgendamento":{"type":"string"},"idAgenda":{"type":"integer","format":"int64"},"idClinica":{"type":"integer","format":"int64"},"idConvenio":{"type":"integer","format":"int64"},"idEspecialidade":{"type":"integer","format":"int64"},"idMarcacao":{"type":"integer","format":"int64"},"idProcedimento":{"type":"integer","format":"int64"},"idUsuario":{"type":"integer","format":"int64"},"mapping":{"type":"object"},"nomeDependente":{"type":"string"},"nomePaciente":{"type":"string"},"sexo":{"type":"string"},"statusMarcacao":{"type":"string"},"telefone":{"type":"string"},"usuario":{"type":"integer","format":"int64"},"usuarioId":{"type":"integer","format":"int64"}},"title":"AgendamentoPartnerDTO"},"AgendamentoRequest":{"type":"object","properties":{"agendaId":{"type":"integer","format":"int64"},"convenioId":{"type":"integer","format":"int64"},"data":{"type":"string","example":"31/12/2023","description":"Deve ser prenchido no formato dd/MM/yyyy"},"especialidadeId":{"type":"integer","format":"int64"},"hora":{"type":"string","example":"17:30","description":"Deve ser preenchido no formato HH:mm"},"nomePaciente":{"type":"string"},"pacienteId":{"type":"integer","format":"int64"},"procedimentosIds":{"type":"array","items":{"type":"integer","format":"int64"}},"telefonePaciente":{"type":"string","example":"(99) 99999-9999","description":"Deve ser preenchido no formato (DDD) XXXXX-XXXX"},"telemedicina":{"type":"boolean"},"unidadeId":{"type":"integer","format":"int64"}},"title":"AgendamentoRequest"},"Clinica":{"type":"object","properties":{"bairro":{"type":"string"},"cidade":{"type":"string"},"estado":{"$ref":"#/definitions/Estado"},"hashKey":{"type":"string"},"id":{"type":"integer","format":"int64"},"nome":{"type":"string"},"organizacao":{"$ref":"#/definitions/Organizacao"}},"title":"Clinica"},"CobrancaItemDTO":{"type":"object","properties":{"descricao":{"type":"string"},"idProcedimento":{"type":"integer","format":"int64"},"idProduto":{"type":"integer","format":"int64"},"quantidade":{"type":"integer","format":"int32"},"valor":{"type":"number"},"valorAcrescimo":{"type":"number"},"valorDesconto":{"type":"number"}},"title":"CobrancaItemDTO"},"CobrancaPagamentoDTO":{"type":"object","properties":{"baixaEfetuada":{"type":"boolean"},"bandeira":{"type":"integer","format":"int64"},"dataBaixa":{"type":"string","format":"date-time"},"idFormaPagamento":{"type":"integer","format":"int32"},"numeroAutorizacao":{"type":"string"},"numeroParcela":{"type":"integer","format":"int32"},"numeroTransacao":{"type":"string"},"valor":{"type":"number"},"valorAcrescimo":{"type":"number"},"valorDesconto":{"type":"number"}},"title":"CobrancaPagamentoDTO"},"ContaPagarDTO":{"type":"object","properties":{"cadastradoPor":{"$ref":"#/definitions/TipoDTO"},"centroCusto":{"$ref":"#/definitions/TipoDTO"},"clinica":{"$ref":"#/definitions/TipoDTO"},"contaBancaria":{"$ref":"#/definitions/TipoDTO"},"contaComRepeticao":{"type":"boolean"},"contaRestante":{"type":"boolean"},"dataBaixa":{"type":"string","example":"dd-MM-yyyy"},"dataPagar":{"type":"string","example":"dd-MM-yyyy"},"dateCreated":{"type":"string","example":"dd-MM-yyyy"},"dateDelete":{"type":"string","example":"dd-MM-yyyy"},"deletadoPor":{"$ref":"#/definitions/TipoDTO"},"descricao":{"type":"string"},"detalhamento":{"type":"array","items":{"$ref":"#/definitions/LancamentoDetalheDTO"}},"formaPagamento":{"$ref":"#/definitions/TipoDTO"},"id":{"type":"integer","format":"int64"},"idItemPlanoConta":{"type":"integer","format":"int64"},"lancamentoId":{"type":"integer","format":"int64"},"mesAnoCompetencia":{"type":"string","example":"dd-MM-yyyy"},"numeroParcelas":{"type":"integer","format":"int32"},"numeroReferencia":{"type":"string"},"observacao":{"type":"string"},"organizacao":{"$ref":"#/definitions/TipoDTO"},"pessoa":{"$ref":"#/definitions/TipoDTO"},"referencia":{"type":"string"},"statusSync":{"type":"string"},"valorPagar":{"type":"number"},"valorPago":{"type":"number"},"venda":{"$ref":"#/definitions/VendaDTO"}},"title":"ContaPagarDTO"},"ContaReceber":{"type":"object","properties":{"agendamentoId":{"type":"integer"},"ativo":{"type":"boolean"},"clinicaId":{"type":"integer"},"clinicaNome":{"type":"string"},"dataConta":{"type":"string","example":"dd-MM-yyyy"},"dataExecucao":{"type":"string","example":"dd-MM-yyyy"},"executado":{"type":"string"},"formasPagamento":{"type":"array","items":{"$ref":"#/definitions/ContaReceberFormaPagamentoDTO"}},"numeroNota":{"type":"string"},"observacoes":{"type":"string"},"orcamentoId":{"type":"integer"},"pacienteCpf":{"type":"string"},"pacienteId":{"type":"integer"},"pacienteNome":{"type":"string"},"procedimentoId":{"type":"integer"},"profissionalExecutanteId":{"type":"integer"},"quantidade":{"type":"string"},"usuarioCadastroId":{"type":"integer","format":"int32"},"usuarioCadastroNome":{"type":"string"},"usuarioId":{"type":"integer","format":"int32"},"valorAcrescimo":{"type":"number"},"valorDesconto":{"type":"number"},"valorProcedimento":{"type":"number"},"valorTotalLiquido":{"type":"number"},"valorVenda":{"type":"number"},"vendaId":{"type":"integer"}},"title":"ContaReceber"},"ContaReceberDTO":{"type":"object","properties":{"ativo":{"type":"boolean"},"centroCustoId":{"type":"integer","format":"int64"},"centroCustoNome":{"type":"string"},"contaBancariaId":{"type":"integer","format":"int64"},"contaBancariaNome":{"type":"string"},"cpfCnpj":{"type":"string"},"dataBaixa":{"type":"string","example":"dd-MM-yyyy"},"dataReceber":{"type":"string","example":"dd-MM-yyyy"},"dataRemocao":{"type":"string","example":"dd-MM-yyyy"},"deletado":{"type":"boolean"},"descricao":{"type":"string"},"id":{"type":"integer","format":"int64"},"mesAnoCompetencia":{"type":"string","example":"dd-MM-yyyy"},"observacao":{"type":"string"},"pessoaId":{"type":"integer","format":"int64"},"pessoaNome":{"type":"string"},"valorReceber":{"type":"number"},"valorRecebido":{"type":"number"},"vendaId":{"type":"integer","format":"int64"}},"title":"ContaReceberDTO"},"ContaReceberFormaPagamentoDTO":{"type":"object","properties":{"acrescimos":{"type":"number"},"bandeiraCartao":{"type":"string"},"condicaoRecebimento":{"type":"string"},"descontos":{"type":"number"},"formaPagamento":{"type":"string"},"id":{"type":"integer","format":"int64"},"numeroAutorizacao":{"type":"string"},"numeroParcelas":{"type":"integer","format":"int32"},"numeroTransacao":{"type":"string"},"valor":{"type":"number"}},"title":"ContaReceberFormaPagamentoDTO"},"Convenio":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nome":{"type":"string"}},"title":"Convenio"},"DadosAgendamentoDTO":{"type":"object","properties":{"dataAgendamento":{"type":"string","format":"date-time"},"horaAgendamento":{"type":"string","format":"date-time"},"idAgenda":{"type":"integer","format":"int64"},"idClinica":{"type":"integer","format":"int64"},"idConvenio":{"type":"integer","format":"int64"},"idEspecialidade":{"type":"integer","format":"int64"},"idProfissional":{"type":"integer","format":"int64"}},"title":"DadosAgendamentoDTO"},"DadosCobrancaDTO":{"type":"object","properties":{"formasPagamento":{"type":"array","items":{"$ref":"#/definitions/CobrancaPagamentoDTO"}},"idExterno":{"type":"string"},"itens":{"type":"array","items":{"$ref":"#/definitions/CobrancaItemDTO"}},"valorAcrescimo":{"type":"number"},"valorDesconto":{"type":"number"},"valorTotal":{"type":"number"}},"title":"DadosCobrancaDTO"},"DadosPessoaisDTO":{"type":"object","properties":{"cpf":{"type":"string","example":99999999999,"description":"Deve ser preenchido sem formatação"},"dataNascimento":{"type":"string","format":"date-time"},"email":{"type":"string"},"idExterno":{"type":"string"},"nome":{"type":"string"},"telefone":{"type":"string"}},"title":"DadosPessoaisDTO"},"Especialidade":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nome":{"type":"string"}},"title":"Especialidade"},"Estado":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"sigla":{"type":"string"}},"title":"Estado"},"FormaPagamentoDTO":{"type":"object","properties":{"aceitaParcelamento":{"type":"boolean"},"id":{"type":"integer","format":"int32"},"nome":{"type":"string"}},"title":"FormaPagamentoDTO"},"FormaRecebimentoDTO":{"type":"object","properties":{"ativo":{"type":"boolean"},"baixaAutomatica":{"type":"boolean"},"clinicaId":{"type":"integer","format":"int64"},"clinicaNome":{"type":"string"},"contaBancariaId":{"type":"integer","format":"int64"},"contaBancariaNome":{"type":"string"},"formaPagamentoId":{"type":"integer","format":"int64"},"formaPagamentoNome":{"type":"string"},"id":{"type":"integer","format":"int64"},"nome":{"type":"string"},"numeroMaximoParcelas":{"type":"integer","format":"int32"},"numeroMinimoParcelas":{"type":"integer","format":"int32"},"percentualAcrescimo":{"type":"number"},"percentualDesconto":{"type":"number"},"valorAcrescimo":{"type":"number"},"valorDesconto":{"type":"number"}},"title":"FormaRecebimentoDTO"},"IntervaloDTO":{"type":"object","properties":{"intervalo":{"type":"string"},"status":{"type":"string","enum":["LIVRE","LOTADO","BLOQUEADO"]}},"title":"IntervaloDTO"},"ItemContaDTO":{"type":"object","properties":{"acrescimoInformado":{"type":"number"},"descontoInformado":{"type":"number"},"executado":{"type":"boolean"},"id":{"type":"integer","format":"int64"},"nome":{"type":"string"},"procedimentoId":{"type":"integer","format":"int64"},"produtoId":{"type":"integer","format":"int64"},"quantidade":{"type":"integer","format":"int32"},"valor":{"type":"number"},"valorTotal":{"type":"number"},"vendaId":{"type":"integer","format":"int64"}},"title":"ItemContaDTO"},"Json":{"type":"object","title":"Json"},"LancamentoAvulsoDTO":{"type":"object","properties":{"agendamento":{"$ref":"#/definitions/DadosAgendamentoDTO"},"chave":{"type":"string"},"cobranca":{"$ref":"#/definitions/DadosCobrancaDTO"},"idClinica":{"type":"integer","format":"int64"},"idOrganizacao":{"type":"integer","format":"int64"},"pessoa":{"$ref":"#/definitions/DadosPessoaisDTO"},"secret":{"type":"string"}},"title":"LancamentoAvulsoDTO"},"LancamentoDetalheDTO":{"type":"object","properties":{"centroCusto":{"$ref":"#/definitions/TipoDTO"},"planoContas":{"$ref":"#/definitions/TipoDTO"},"valor":{"type":"number"}},"title":"LancamentoDetalheDTO"},"Marcacao":{"type":"object","properties":{"agendaId":{"type":"integer","format":"int64"},"alteracoesStatus":{"type":"string"},"clinicaId":{"type":"integer","format":"int64"},"clinicaNome":{"type":"string"},"convenio":{"$ref":"#/definitions/Convenio"},"dataAgendamento":{"type":"string","example":"dd-MM-yyyy"},"dataCriacao":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss"},"especialidade":{"$ref":"#/definitions/Especialidade"},"especialidadeId":{"type":"integer","format":"int64"},"horaAgendamento":{"type":"string","format":"date-time"},"id":{"type":"integer","format":"int64"},"meioAgendamento":{"type":"string"},"nomePaciente":{"type":"string"},"pacienteId":{"type":"integer","format":"int64"},"procedimento":{"$ref":"#/definitions/ProcedimentoDTO"},"procedimentoId":{"type":"integer","format":"int64"},"profissional":{"$ref":"#/definitions/TipoDTO"},"profissionalId":{"type":"integer","format":"int64"},"statusMarcacao":{"type":"string","enum":["LIVRE","AVALIACAO","HORARIO_BLOQUEADO","AGENDADO","CANCELADO","CANCELADO_VIA_SMS","CONFIRMADO","FALTOU","AGUARDANDO_RECEPCAO","RECEPCAO","AGUARDANDO_PRE_CONSULTA","PRE_CONSULTA","AGUARDANDO_ATENDIMENTO","EM_ATENDIMENTO","AGUARDANDO_POS_CONSULTA","POS_CONSULTA","ATENDIMENTO_COMPLETO","PRE_AGENDAMENTO","AUSENTE_POS_CONSULTA","EXCLUIDO","TRANSFERIDO","REAGENDADO","PAGAMENTO_AGUARDANDO","PAGAMENTO_INFORMADO"]},"telefone":{"type":"string"},"telefoneComDDI":{"type":"string"},"telefoneOutro":{"type":"string"},"telefoneOutroComDDI":{"type":"string"},"usuarioCadastroId":{"type":"integer","format":"int64"}},"title":"Marcacao"},"MarcacaoStatus":{"type":"object","properties":{"agendamentoId":{"type":"integer","format":"int32"},"data":{"type":"string","format":"date-time"},"id":{"type":"integer","format":"int32"},"statusMarcacao":{"type":"string"},"statusMarcacaoAnterior":{"type":"string"},"usuarioId":{"type":"integer","format":"int32"}},"title":"MarcacaoStatus"},"MudarStatusMarcacaoRequest":{"type":"object","properties":{"novoStatus":{"type":"string","enum":["LIVRE","AVALIACAO","HORARIO_BLOQUEADO","AGENDADO","CANCELADO","CANCELADO_VIA_SMS","CONFIRMADO","FALTOU","AGUARDANDO_RECEPCAO","RECEPCAO","AGUARDANDO_PRE_CONSULTA","PRE_CONSULTA","AGUARDANDO_ATENDIMENTO","EM_ATENDIMENTO","AGUARDANDO_POS_CONSULTA","POS_CONSULTA","ATENDIMENTO_COMPLETO","PRE_AGENDAMENTO","AUSENTE_POS_CONSULTA","EXCLUIDO","TRANSFERIDO","REAGENDADO","PAGAMENTO_AGUARDANDO","PAGAMENTO_INFORMADO"]},"observacao":{"type":"string"}},"title":"MudarStatusMarcacaoRequest"},"NegociacaoConvenio":{"type":"object","properties":{"convenioId":{"type":"integer","format":"int32"},"dataInicioVigencia":{"type":"string","example":"dd-MM-yyyy"},"id":{"type":"integer","format":"int64"},"procedimentoId":{"type":"integer","format":"int32"},"valor":{"type":"number"}},"title":"NegociacaoConvenio"},"Orcamento":{"type":"object","properties":{"acrescimoInformado":{"type":"number"},"clinicaId":{"type":"integer","format":"int32"},"convenioId":{"type":"integer","format":"int32"},"dataCadastro":{"type":"string","example":"dd-MM-yyyy"},"dataOrcamento":{"type":"string","example":"dd-MM-yyyy"},"deletado":{"type":"boolean"},"descontoInformado":{"type":"number"},"id":{"type":"integer","format":"int32"},"itens":{"type":"array","items":{"$ref":"#/definitions/OrcamentoItem"}},"numeroOrcamento":{"type":"string"},"observacoes":{"type":"string"},"observacoesInternas":{"type":"string"},"pacienteId":{"type":"integer","format":"int32"},"porcentagemDescontoNoTotal":{"type":"integer","format":"int32"},"statusOrcamento":{"type":"string"},"tipoAcrescimo":{"type":"string"},"tipoDesconto":{"type":"string"},"usuarioCriacao":{"type":"integer","format":"int32"},"valorAcrescimo":{"type":"number"},"valorDesconto":{"type":"number"},"valorTotal":{"type":"number"}},"title":"Orcamento"},"OrcamentoItem":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"porcentagemDesconto":{"type":"integer","format":"int32"},"procedimentoId":{"type":"integer","format":"int32"},"quantidade":{"type":"integer","format":"int32"},"valorAcrescimo":{"type":"number"},"valorDesconto":{"type":"number"},"valorTotal":{"type":"number"},"valorUnitario":{"type":"number"}},"title":"OrcamentoItem"},"Organizacao":{"type":"object","properties":{"hashKey":{"type":"string"},"id":{"type":"integer","format":"int64"},"nome":{"type":"string"}},"title":"Organizacao"},"Paciente":{"type":"object","properties":{"bairro":{"type":"string"},"cidade":{"type":"string"},"clinicaOrigemId":{"type":"integer","format":"int32"},"comoConheceuClinica":{"type":"string"},"complemento":{"type":"string"},"cpf":{"type":"string"},"dataNascimento":{"type":"string","format":"date-time"},"dateCreated":{"type":"string","format":"date-time"},"email":{"type":"string"},"id":{"type":"integer","format":"int64"},"logradouro":{"type":"string"},"nome":{"type":"string"},"numero":{"type":"string"},"sexo":{"type":"string"},"telefones":{"type":"string"}},"title":"Paciente"},"PacienteDTO":{"type":"object","properties":{"bairro":{"type":"string"},"cidade":{"type":"string"},"clinicaOrigemId":{"type":"integer","format":"int32"},"comoConheceuClinica":{"type":"string"},"complemento":{"type":"string"},"cpf":{"type":"string"},"dataAtualizacao":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss"},"dataCriacao":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss"},"dataNascimento":{"type":"string","example":"dd-MM-yyyy"},"email":{"type":"string"},"id":{"type":"integer","format":"int64"},"logradouro":{"type":"string"},"nome":{"type":"string"},"numero":{"type":"string"},"sexo":{"type":"string"},"telefones":{"type":"array","items":{"type":"string"}}},"title":"PacienteDTO"},"PacienteRequest":{"type":"object","properties":{"cpf":{"type":"string","description":"CPF do paciente"},"cpfFormatado":{"type":"string"},"dataNascimento":{"type":"string","example":"01/01/2010","description":"Data de nascimento do paciente"},"email":{"type":"string","description":"E-mail do paciente"},"filterPorCPF":{"type":"boolean"},"filterPorEmail":{"type":"boolean"},"nome":{"type":"string","description":"Nome do paciente"},"sexo":{"type":"string","description":"Sexo do paciente: MASCULINO, FEMININO ou INDEFINIDO."},"telefone":{"type":"string","example":"(99) 99999-9999","description":"Telefone do paciente. Deve ser preenchido no formato (DDD) XXXXX-XXXX"},"unidadeId":{"type":"integer","format":"int64","description":"Unidade do paciente"}},"title":"PacienteRequest"},"Pessoa":{"type":"object","properties":{"cpfCnpj":{"type":"string"},"estrangeiro":{"type":"boolean"},"id":{"type":"integer","format":"int32"},"idExternoYepcomm":{"type":"string"},"nome":{"type":"string"},"nomeAscii":{"type":"string"},"organizacao":{"$ref":"#/definitions/Organizacao"},"paciente":{"$ref":"#/definitions/Paciente"},"telefone":{"type":"string"},"version":{"type":"integer","format":"int32"}},"title":"Pessoa"},"Procedimento":{"type":"object","properties":{"ativo":{"type":"boolean"},"dataCriacao":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss"},"dateCreated":{"type":"string","format":"date-time"},"especialidades":{"type":"array","items":{"$ref":"#/definitions/Especialidade"}},"id":{"type":"integer","format":"int64"},"nome":{"type":"string"},"orientacoes":{"type":"string"},"planoContaId":{"type":"integer","format":"int64"},"profissionalRestrito":{"type":"array","items":{"$ref":"#/definitions/Profissional"}},"tipoProcedimento":{"type":"string"}},"title":"Procedimento"},"ProcedimentoDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nome":{"type":"string"},"orientacoes":{"type":"string"}},"title":"ProcedimentoDTO"},"ProdutoDTO":{"type":"object","properties":{"ativo":{"type":"boolean"},"codigo":{"type":"string"},"fabricanteId":{"type":"integer","format":"int64"},"fabricanteNome":{"type":"string"},"grupoId":{"type":"integer","format":"int64"},"grupoNome":{"type":"string"},"id":{"type":"integer","format":"int64"},"marca":{"type":"string"},"modelo":{"type":"string"},"nome":{"type":"string"},"saldoEstoque":{"type":"number"}},"title":"ProdutoDTO"},"Profissional":{"type":"object","properties":{"ativo":{"type":"boolean"},"conselho":{"type":"string"},"especialidades":{"type":"string"},"estado":{"type":"string"},"id":{"type":"integer","format":"int64"},"nome":{"type":"string"},"numeroRegistro":{"type":"string"},"profissional":{"type":"string"}},"title":"Profissional"},"ProfissionalConvenioDetalhesDTO":{"type":"object","properties":{"clinicaId":{"type":"integer","format":"int64"},"convenioId":{"type":"integer","format":"int64"},"especialidadeId":{"type":"integer","format":"int64"},"nomeConvenio":{"type":"string"},"nomeEspecialidade":{"type":"string"}},"title":"ProfissionalConvenioDetalhesDTO"},"ProfissionalConveniosDTO":{"type":"object","properties":{"convenios":{"type":"array","items":{"$ref":"#/definitions/ProfissionalConvenioDetalhesDTO"}},"profissional":{"$ref":"#/definitions/ProfissionalDTO"}},"title":"ProfissionalConveniosDTO"},"ProfissionalDTO":{"type":"object","properties":{"ativo":{"type":"boolean"},"conselho":{"type":"string"},"especialidades":{"type":"string"},"especialidadesList":{"type":"array","items":{"type":"string"}},"estado":{"type":"string"},"id":{"type":"integer","format":"int64"},"nome":{"type":"string"},"numeroRegistro":{"type":"string"},"profissional":{"type":"string"},"tratamento":{"type":"string"}},"title":"ProfissionalDTO"},"ProvisaoAgendamento":{"type":"object","properties":{"agendaId":{"type":"integer","format":"int64"},"clinicaId":{"type":"integer","format":"int64"},"convenioId":{"type":"integer","format":"int64"},"dataAgendamento":{"type":"string","format":"date-time"},"especialidadeId":{"type":"integer","format":"int64"},"horaAgendamento":{"type":"string","format":"date-time"},"id":{"type":"integer","format":"int64"},"profissionalId":{"type":"integer","format":"int64"}},"title":"ProvisaoAgendamento"},"RespostaApi«AgendaDTO»":{"type":"object","properties":{"errorDetail":{"type":"string","description":"Descrição do erro retornado caso o retorno do status seja ERROR"},"organizacao":{"type":"integer","format":"int64","description":"Identificador da Organização dos dados retornados"},"page":{"type":"integer","format":"int32"},"response":{"type":"array","items":{"$ref":"#/definitions/AgendaDTO"}},"status":{"type":"string","description":"Status da requisição - Obs: os sub-tipos de status são retornados a partir do HTTP Status Code","enum":["OK","ERROR"]}},"title":"RespostaApi«AgendaDTO»","description":"Retorno padrão da API para as requisições de extração"},"RespostaApi«AgendaHorariosBloqueados»":{"type":"object","properties":{"errorDetail":{"type":"string","description":"Descrição do erro retornado caso o retorno do status seja ERROR"},"organizacao":{"type":"integer","format":"int64","description":"Identificador da Organização dos dados retornados"},"page":{"type":"integer","format":"int32"},"response":{"type":"array","items":{"$ref":"#/definitions/AgendaHorariosBloqueados"}},"status":{"type":"string","description":"Status da requisição - Obs: os sub-tipos de status são retornados a partir do HTTP Status Code","enum":["OK","ERROR"]}},"title":"RespostaApi«AgendaHorariosBloqueados»","description":"Retorno padrão da API para as requisições de extração"},"RespostaApi«AgendaHorariosEspecificos»":{"type":"object","properties":{"errorDetail":{"type":"string","description":"Descrição do erro retornado caso o retorno do status seja ERROR"},"organizacao":{"type":"integer","format":"int64","description":"Identificador da Organização dos dados retornados"},"page":{"type":"integer","format":"int32"},"response":{"type":"array","items":{"$ref":"#/definitions/AgendaHorariosEspecificos"}},"status":{"type":"string","description":"Status da requisição - Obs: os sub-tipos de status são retornados a partir do HTTP Status Code","enum":["OK","ERROR"]}},"title":"RespostaApi«AgendaHorariosEspecificos»","description":"Retorno padrão da API para as requisições de extração"},"RespostaApi«Clinica»":{"type":"object","properties":{"errorDetail":{"type":"string","description":"Descrição do erro retornado caso o retorno do status seja ERROR"},"organizacao":{"type":"integer","format":"int64","description":"Identificador da Organização dos dados retornados"},"page":{"type":"integer","format":"int32"},"response":{"type":"array","items":{"$ref":"#/definitions/Clinica"}},"status":{"type":"string","description":"Status da requisição - Obs: os sub-tipos de status são retornados a partir do HTTP Status Code","enum":["OK","ERROR"]}},"title":"RespostaApi«Clinica»","description":"Retorno padrão da API para as requisições de extração"},"RespostaApi«ContaPagarDTO»":{"type":"object","properties":{"errorDetail":{"type":"string","description":"Descrição do erro retornado caso o retorno do status seja ERROR"},"organizacao":{"type":"integer","format":"int64","description":"Identificador da Organização dos dados retornados"},"page":{"type":"integer","format":"int32"},"response":{"type":"array","items":{"$ref":"#/definitions/ContaPagarDTO"}},"status":{"type":"string","description":"Status da requisição - Obs: os sub-tipos de status são retornados a partir do HTTP Status Code","enum":["OK","ERROR"]}},"title":"RespostaApi«ContaPagarDTO»","description":"Retorno padrão da API para as requisições de extração"},"RespostaApi«ContaReceberDTO»":{"type":"object","properties":{"errorDetail":{"type":"string","description":"Descrição do erro retornado caso o retorno do status seja ERROR"},"organizacao":{"type":"integer","format":"int64","description":"Identificador da Organização dos dados retornados"},"page":{"type":"integer","format":"int32"},"response":{"type":"array","items":{"$ref":"#/definitions/ContaReceberDTO"}},"status":{"type":"string","description":"Status da requisição - Obs: os sub-tipos de status são retornados a partir do HTTP Status Code","enum":["OK","ERROR"]}},"title":"RespostaApi«ContaReceberDTO»","description":"Retorno padrão da API para as requisições de extração"},"RespostaApi«ContaReceberFormaPagamentoDTO»":{"type":"object","properties":{"errorDetail":{"type":"string","description":"Descrição do erro retornado caso o retorno do status seja ERROR"},"organizacao":{"type":"integer","format":"int64","description":"Identificador da Organização dos dados retornados"},"page":{"type":"integer","format":"int32"},"response":{"type":"array","items":{"$ref":"#/definitions/ContaReceberFormaPagamentoDTO"}},"status":{"type":"string","description":"Status da requisição - Obs: os sub-tipos de status são retornados a partir do HTTP Status Code","enum":["OK","ERROR"]}},"title":"RespostaApi«ContaReceberFormaPagamentoDTO»","description":"Retorno padrão da API para as requisições de extração"},"RespostaApi«ContaReceber»":{"type":"object","properties":{"errorDetail":{"type":"string","description":"Descrição do erro retornado caso o retorno do status seja ERROR"},"organizacao":{"type":"integer","format":"int64","description":"Identificador da Organização dos dados retornados"},"page":{"type":"integer","format":"int32"},"response":{"type":"array","items":{"$ref":"#/definitions/ContaReceber"}},"status":{"type":"string","description":"Status da requisição - Obs: os sub-tipos de status são retornados a partir do HTTP Status Code","enum":["OK","ERROR"]}},"title":"RespostaApi«ContaReceber»","description":"Retorno padrão da API para as requisições de extração"},"RespostaApi«Convenio»":{"type":"object","properties":{"errorDetail":{"type":"string","description":"Descrição do erro retornado caso o retorno do status seja ERROR"},"organizacao":{"type":"integer","format":"int64","description":"Identificador da Organização dos dados retornados"},"page":{"type":"integer","format":"int32"},"response":{"type":"array","items":{"$ref":"#/definitions/Convenio"}},"status":{"type":"string","description":"Status da requisição - Obs: os sub-tipos de status são retornados a partir do HTTP Status Code","enum":["OK","ERROR"]}},"title":"RespostaApi«Convenio»","description":"Retorno padrão da API para as requisições de extração"},"RespostaApi«FormaPagamentoDTO»":{"type":"object","properties":{"errorDetail":{"type":"string","description":"Descrição do erro retornado caso o retorno do status seja ERROR"},"organizacao":{"type":"integer","format":"int64","description":"Identificador da Organização dos dados retornados"},"page":{"type":"integer","format":"int32"},"response":{"type":"array","items":{"$ref":"#/definitions/FormaPagamentoDTO"}},"status":{"type":"string","description":"Status da requisição - Obs: os sub-tipos de status são retornados a partir do HTTP Status Code","enum":["OK","ERROR"]}},"title":"RespostaApi«FormaPagamentoDTO»","description":"Retorno padrão da API para as requisições de extração"},"RespostaApi«FormaRecebimentoDTO»":{"type":"object","properties":{"errorDetail":{"type":"string","description":"Descrição do erro retornado caso o retorno do status seja ERROR"},"organizacao":{"type":"integer","format":"int64","description":"Identificador da Organização dos dados retornados"},"page":{"type":"integer","format":"int32"},"response":{"type":"array","items":{"$ref":"#/definitions/FormaRecebimentoDTO"}},"status":{"type":"string","description":"Status da requisição - Obs: os sub-tipos de status são retornados a partir do HTTP Status Code","enum":["OK","ERROR"]}},"title":"RespostaApi«FormaRecebimentoDTO»","description":"Retorno padrão da API para as requisições de extração"},"RespostaApi«ItemContaDTO»":{"type":"object","properties":{"errorDetail":{"type":"string","description":"Descrição do erro retornado caso o retorno do status seja ERROR"},"organizacao":{"type":"integer","format":"int64","description":"Identificador da Organização dos dados retornados"},"page":{"type":"integer","format":"int32"},"response":{"type":"array","items":{"$ref":"#/definitions/ItemContaDTO"}},"status":{"type":"string","description":"Status da requisição - Obs: os sub-tipos de status são retornados a partir do HTTP Status Code","enum":["OK","ERROR"]}},"title":"RespostaApi«ItemContaDTO»","description":"Retorno padrão da API para as requisições de extração"},"RespostaApi«MarcacaoStatus»":{"type":"object","properties":{"errorDetail":{"type":"string","description":"Descrição do erro retornado caso o retorno do status seja ERROR"},"organizacao":{"type":"integer","format":"int64","description":"Identificador da Organização dos dados retornados"},"page":{"type":"integer","format":"int32"},"response":{"type":"array","items":{"$ref":"#/definitions/MarcacaoStatus"}},"status":{"type":"string","description":"Status da requisição - Obs: os sub-tipos de status são retornados a partir do HTTP Status Code","enum":["OK","ERROR"]}},"title":"RespostaApi«MarcacaoStatus»","description":"Retorno padrão da API para as requisições de extração"},"RespostaApi«Marcacao»":{"type":"object","properties":{"errorDetail":{"type":"string","description":"Descrição do erro retornado caso o retorno do status seja ERROR"},"organizacao":{"type":"integer","format":"int64","description":"Identificador da Organização dos dados retornados"},"page":{"type":"integer","format":"int32"},"response":{"type":"array","items":{"$ref":"#/definitions/Marcacao"}},"status":{"type":"string","description":"Status da requisição - Obs: os sub-tipos de status são retornados a partir do HTTP Status Code","enum":["OK","ERROR"]}},"title":"RespostaApi«Marcacao»","description":"Retorno padrão da API para as requisições de extração"},"RespostaApi«NegociacaoConvenio»":{"type":"object","properties":{"errorDetail":{"type":"string","description":"Descrição do erro retornado caso o retorno do status seja ERROR"},"organizacao":{"type":"integer","format":"int64","description":"Identificador da Organização dos dados retornados"},"page":{"type":"integer","format":"int32"},"response":{"type":"array","items":{"$ref":"#/definitions/NegociacaoConvenio"}},"status":{"type":"string","description":"Status da requisição - Obs: os sub-tipos de status são retornados a partir do HTTP Status Code","enum":["OK","ERROR"]}},"title":"RespostaApi«NegociacaoConvenio»","description":"Retorno padrão da API para as requisições de extração"},"RespostaApi«Orcamento»":{"type":"object","properties":{"errorDetail":{"type":"string","description":"Descrição do erro retornado caso o retorno do status seja ERROR"},"organizacao":{"type":"integer","format":"int64","description":"Identificador da Organização dos dados retornados"},"page":{"type":"integer","format":"int32"},"response":{"type":"array","items":{"$ref":"#/definitions/Orcamento"}},"status":{"type":"string","description":"Status da requisição - Obs: os sub-tipos de status são retornados a partir do HTTP Status Code","enum":["OK","ERROR"]}},"title":"RespostaApi«Orcamento»","description":"Retorno padrão da API para as requisições de extração"},"RespostaApi«PacienteDTO»":{"type":"object","properties":{"errorDetail":{"type":"string","description":"Descrição do erro retornado caso o retorno do status seja ERROR"},"organizacao":{"type":"integer","format":"int64","description":"Identificador da Organização dos dados retornados"},"page":{"type":"integer","format":"int32"},"response":{"type":"array","items":{"$ref":"#/definitions/PacienteDTO"}},"status":{"type":"string","description":"Status da requisição - Obs: os sub-tipos de status são retornados a partir do HTTP Status Code","enum":["OK","ERROR"]}},"title":"RespostaApi«PacienteDTO»","description":"Retorno padrão da API para as requisições de extração"},"RespostaApi«Paciente»":{"type":"object","properties":{"errorDetail":{"type":"string","description":"Descrição do erro retornado caso o retorno do status seja ERROR"},"organizacao":{"type":"integer","format":"int64","description":"Identificador da Organização dos dados retornados"},"page":{"type":"integer","format":"int32"},"response":{"type":"array","items":{"$ref":"#/definitions/Paciente"}},"status":{"type":"string","description":"Status da requisição - Obs: os sub-tipos de status são retornados a partir do HTTP Status Code","enum":["OK","ERROR"]}},"title":"RespostaApi«Paciente»","description":"Retorno padrão da API para as requisições de extração"},"RespostaApi«Procedimento»":{"type":"object","properties":{"errorDetail":{"type":"string","description":"Descrição do erro retornado caso o retorno do status seja ERROR"},"organizacao":{"type":"integer","format":"int64","description":"Identificador da Organização dos dados retornados"},"page":{"type":"integer","format":"int32"},"response":{"type":"array","items":{"$ref":"#/definitions/Procedimento"}},"status":{"type":"string","description":"Status da requisição - Obs: os sub-tipos de status são retornados a partir do HTTP Status Code","enum":["OK","ERROR"]}},"title":"RespostaApi«Procedimento»","description":"Retorno padrão da API para as requisições de extração"},"RespostaApi«ProdutoDTO»":{"type":"object","properties":{"errorDetail":{"type":"string","description":"Descrição do erro retornado caso o retorno do status seja ERROR"},"organizacao":{"type":"integer","format":"int64","description":"Identificador da Organização dos dados retornados"},"page":{"type":"integer","format":"int32"},"response":{"type":"array","items":{"$ref":"#/definitions/ProdutoDTO"}},"status":{"type":"string","description":"Status da requisição - Obs: os sub-tipos de status são retornados a partir do HTTP Status Code","enum":["OK","ERROR"]}},"title":"RespostaApi«ProdutoDTO»","description":"Retorno padrão da API para as requisições de extração"},"RespostaApi«ProfissionalConveniosDTO»":{"type":"object","properties":{"errorDetail":{"type":"string","description":"Descrição do erro retornado caso o retorno do status seja ERROR"},"organizacao":{"type":"integer","format":"int64","description":"Identificador da Organização dos dados retornados"},"page":{"type":"integer","format":"int32"},"response":{"type":"array","items":{"$ref":"#/definitions/ProfissionalConveniosDTO"}},"status":{"type":"string","description":"Status da requisição - Obs: os sub-tipos de status são retornados a partir do HTTP Status Code","enum":["OK","ERROR"]}},"title":"RespostaApi«ProfissionalConveniosDTO»","description":"Retorno padrão da API para as requisições de extração"},"RespostaApi«ProfissionalDTO»":{"type":"object","properties":{"errorDetail":{"type":"string","description":"Descrição do erro retornado caso o retorno do status seja ERROR"},"organizacao":{"type":"integer","format":"int64","description":"Identificador da Organização dos dados retornados"},"page":{"type":"integer","format":"int32"},"response":{"type":"array","items":{"$ref":"#/definitions/ProfissionalDTO"}},"status":{"type":"string","description":"Status da requisição - Obs: os sub-tipos de status são retornados a partir do HTTP Status Code","enum":["OK","ERROR"]}},"title":"RespostaApi«ProfissionalDTO»","description":"Retorno padrão da API para as requisições de extração"},"RespostaApi«SaldoDTO»":{"type":"object","properties":{"errorDetail":{"type":"string","description":"Descrição do erro retornado caso o retorno do status seja ERROR"},"organizacao":{"type":"integer","format":"int64","description":"Identificador da Organização dos dados retornados"},"page":{"type":"integer","format":"int32"},"response":{"type":"array","items":{"$ref":"#/definitions/SaldoDTO"}},"status":{"type":"string","description":"Status da requisição - Obs: os sub-tipos de status são retornados a partir do HTTP Status Code","enum":["OK","ERROR"]}},"title":"RespostaApi«SaldoDTO»","description":"Retorno padrão da API para as requisições de extração"},"RespostaApi«Usuario»":{"type":"object","properties":{"errorDetail":{"type":"string","description":"Descrição do erro retornado caso o retorno do status seja ERROR"},"organizacao":{"type":"integer","format":"int64","description":"Identificador da Organização dos dados retornados"},"page":{"type":"integer","format":"int32"},"response":{"type":"array","items":{"$ref":"#/definitions/Usuario"}},"status":{"type":"string","description":"Status da requisição - Obs: os sub-tipos de status são retornados a partir do HTTP Status Code","enum":["OK","ERROR"]}},"title":"RespostaApi«Usuario»","description":"Retorno padrão da API para as requisições de extração"},"RespostaApi«VendaDTO»":{"type":"object","properties":{"errorDetail":{"type":"string","description":"Descrição do erro retornado caso o retorno do status seja ERROR"},"organizacao":{"type":"integer","format":"int64","description":"Identificador da Organização dos dados retornados"},"page":{"type":"integer","format":"int32"},"response":{"type":"array","items":{"$ref":"#/definitions/VendaDTO"}},"status":{"type":"string","description":"Status da requisição - Obs: os sub-tipos de status são retornados a partir do HTTP Status Code","enum":["OK","ERROR"]}},"title":"RespostaApi«VendaDTO»","description":"Retorno padrão da API para as requisições de extração"},"RespostaApi«VendaProcedimento»":{"type":"object","properties":{"errorDetail":{"type":"string","description":"Descrição do erro retornado caso o retorno do status seja ERROR"},"organizacao":{"type":"integer","format":"int64","description":"Identificador da Organização dos dados retornados"},"page":{"type":"integer","format":"int32"},"response":{"type":"array","items":{"$ref":"#/definitions/VendaProcedimento"}},"status":{"type":"string","description":"Status da requisição - Obs: os sub-tipos de status são retornados a partir do HTTP Status Code","enum":["OK","ERROR"]}},"title":"RespostaApi«VendaProcedimento»","description":"Retorno padrão da API para as requisições de extração"},"RespostaApi«Venda»":{"type":"object","properties":{"errorDetail":{"type":"string","description":"Descrição do erro retornado caso o retorno do status seja ERROR"},"organizacao":{"type":"integer","format":"int64","description":"Identificador da Organização dos dados retornados"},"page":{"type":"integer","format":"int32"},"response":{"type":"array","items":{"$ref":"#/definitions/Venda"}},"status":{"type":"string","description":"Status da requisição - Obs: os sub-tipos de status são retornados a partir do HTTP Status Code","enum":["OK","ERROR"]}},"title":"RespostaApi«Venda»","description":"Retorno padrão da API para as requisições de extração"},"RespostaApi«Void»":{"type":"object","properties":{"errorDetail":{"type":"string","description":"Descrição do erro retornado caso o retorno do status seja ERROR"},"organizacao":{"type":"integer","format":"int64","description":"Identificador da Organização dos dados retornados"},"page":{"type":"integer","format":"int32"},"status":{"type":"string","description":"Status da requisição - Obs: os sub-tipos de status são retornados a partir do HTTP Status Code","enum":["OK","ERROR"]}},"title":"RespostaApi«Void»","description":"Retorno padrão da API para as requisições de extração"},"RespostaApi«string»":{"type":"object","properties":{"errorDetail":{"type":"string","description":"Descrição do erro retornado caso o retorno do status seja ERROR"},"organizacao":{"type":"integer","format":"int64","description":"Identificador da Organização dos dados retornados"},"page":{"type":"integer","format":"int32"},"response":{"type":"array","items":{"type":"string"}},"status":{"type":"string","description":"Status da requisição - Obs: os sub-tipos de status são retornados a partir do HTTP Status Code","enum":["OK","ERROR"]}},"title":"RespostaApi«string»","description":"Retorno padrão da API para as requisições de extração"},"SaldoDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"nome":{"type":"string"},"saldo":{"type":"number"}},"title":"SaldoDTO"},"TipoDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nome":{"type":"string"}},"title":"TipoDTO"},"Usuario":{"type":"object","properties":{"ativo":{"type":"boolean"},"email":{"type":"string"},"id":{"type":"integer","format":"int32"},"nome":{"type":"string"},"token":{"type":"string"}},"title":"Usuario"},"Venda":{"type":"object","properties":{"acrescimoInformado":{"type":"number"},"ativo":{"type":"boolean"},"clinicaId":{"type":"integer","format":"int32"},"dataConta":{"type":"string","example":"dd-MM-yyyy"},"dataPagamento":{"type":"string","format":"date-time"},"dataPagamentoFormatada":{"type":"string"},"dateCreated":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss"},"descontoInformado":{"type":"number"},"descricao":{"type":"string"},"estornada":{"type":"boolean"},"formasPgto":{"type":"string"},"id":{"type":"inte
[...]
