ZAPI_BASE_URL={{ZAPI_BASE_URL}}
ZAPI_INSTANCE_ID={{ZAPI_INSTANCE_ID}}
ZAPI_TOKEN={{ZAPI_TOKEN}}
ZAPI_CLIENT_TOKEN={{ZAPI_CLIENT_TOKEN}}
ZAPI_WEBHOOK_TOKEN={{ZAPI_WEBHOOK_TOKEN}}
OPENCLAW_GATEWAY_URL={{OPENCLAW_GATEWAY_URL}}
OPENCLAW_GATEWAY_TOKEN={{OPENCLAW_GATEWAY_TOKEN}}
OPENCLAW_SESSION_PREFIX={{OPENCLAW_SESSION_PREFIX}}
CLARA_SYSTEM_PROMPT_FILE={{SYSTEM_PROMPT_FILE}}
CLARA_CONTROL_FILE={{CONTROL_FILE}}
CLARA_LEADS_FILE={{LEADS_FILE}}
CLARA_ACTIVATION_PHRASE={{ACTIVATION_PHRASE}}
